# Projet Spam Data

## 1 - Exploration des données

In [1]:
import os
os.chdir('./spambase/')

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('spambase.data',header = None)

In [4]:
data.head() # Méthode qui permet d'obtenir les 5 premières lignes de la data

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [5]:
data.shape #Permet d'obtenir les dimensions de la data

(4601, 58)

In [6]:
data.info() #Permet de compter le nombre de valeurs manquantes pour chaque attribut

# Ici on a 4601 valeurs non manquantes pour tous les attributs, donc tout est bon.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
0     4601 non-null float64
1     4601 non-null float64
2     4601 non-null float64
3     4601 non-null float64
4     4601 non-null float64
5     4601 non-null float64
6     4601 non-null float64
7     4601 non-null float64
8     4601 non-null float64
9     4601 non-null float64
10    4601 non-null float64
11    4601 non-null float64
12    4601 non-null float64
13    4601 non-null float64
14    4601 non-null float64
15    4601 non-null float64
16    4601 non-null float64
17    4601 non-null float64
18    4601 non-null float64
19    4601 non-null float64
20    4601 non-null float64
21    4601 non-null float64
22    4601 non-null float64
23    4601 non-null float64
24    4601 non-null float64
25    4601 non-null float64
26    4601 non-null float64
27    4601 non-null float64
28    4601 non-null float64
29    4601 non-null float64
30    4601 non-null float64
31    4601 non-null float64
32    4601 non-null float64
33    4601 non-null float64
34    4601 non-null float64
35    4601 non-null float64
36    4601 non-null float64
37    4601 non-null float64
38    4601 non-null float64
39    4601 non-null float64
40    4601 non-null float64
41    4601 non-null float64
42    4601 non-null float64
43    4601 non-null float64
44    4601 non-null float64
45    4601 non-null float64
46    4601 non-null float64
47    4601 non-null float64
48    4601 non-null float64
49    4601 non-null float64
50    4601 non-null float64
51    4601 non-null float64
52    4601 non-null float64
53    4601 non-null float64
54    4601 non-null float64
55    4601 non-null int64
56    4601 non-null int64
57    4601 non-null int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [20]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

In [21]:
data[data.columns[57]].value_counts(1)

0    0.605955
1    0.394045
Name: 57, dtype: float64

Nous disposons, dans la donnée, de 60% d'observations (mails) non spams et 40% spam.

## 2 - Création du training set et du test set

In [22]:
target = data[data.columns[-1]] #dataframe with only the last column containing the spam flag
X = data.drop(data.columns[-1],axis = 1) #dataframe with every other column

In [10]:
X.shape

(4601, 57)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,target, test_size=0.2, random_state=42)
#x_train : 80% of X (every column but the last), x_test : 20% of X, y_train (80% of the last column), y_test : 20% of Y

In [12]:
y_train.value_counts(1)

0    0.613315
1    0.386685
Name: 57, dtype: float64

In [13]:
y_test.value_counts(1)

0    0.576547
1    0.423453
Name: 57, dtype: float64

## 3 - Application des modèles de Machine Learning

### 3-1 Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
clf_LR = LogisticRegression() #Quand on met rien à l'intérieur, il prend les paramètres par défaut de scikit learn

In [16]:
clf_LR.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [17]:
output_LR = clf_LR.predict(X_test)

Métriques utilisées : 
- Accuracy 
- Précision
- Rappel (Recall en anglais)
- F1 Score (moyenne harmonique de la précision et du rappel)
- ROC Curve et la surface sous la ROC curve (intitulée auc)

In [18]:
from sklearn.metrics import accuracy_score, precision_score,recall_score, f1_score,roc_auc_score

In [19]:
accuracy_LR = accuracy_score(y_test,output_LR)
precision_LR = precision_score(y_test,output_LR)
recall_LR = recall_score(y_test,output_LR)
f1_score = f1_score(y_test,output_LR)
auc = roc_auc_score(y_test,output_LR)
print('accuracy ',accuracy_LR,'precision ',precision_LR,'recall ', recall_LR, 'f1_score ', f1_score,'auc ',auc)

accuracy  0.9229098805646037 precision  0.9322493224932249 recall  0.882051282051282 f1_score  0.9064558629776021 auc  0.9174851513834563